@import "reset";

body {
  background-color: rgba(115, 255, 255, 0);
}

.app {
  min-height: 100vh;
  background-image: url("https://cdn2.unrealengine.com/Diesel%2Fproductv2%2Fstar-wars-jedi-fallen-order%2Fhome%2FSWFJO_Standard_Keyart_1920x1080-1920x1080-7a42241ea451299ac73036ac61eb73c1184753e0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 100vh;

  &__heading{
    color: azure;
    text-align: center;
  }
}




